.page {
    min-height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    padding: 6em 1em;
    overflow: auto;
}

body {
    background: white !important;
}

.header {
    text-align: center;
    font-size: 2.5em;
    font-weight: 800;
    color: var(--kratos-black);
}

th {
    background: var(--kratos-black);
    color: var(--kratos-white);
}

td,
th {
    min-width: 8em;
    padding: .5em;
    border: 2px solid black !important;
}

.filter-option {
    margin: .25em 0;
}

.filter-box {
    padding: 1em;
    margin: 1em 0;
    border-radius: .5em;
    background-color: #e9e9ed;
}

select {
    background-color: white;
    border: 1px solid #8f8f9d;
    border-radius: .5em;
    height: 2em;
    margin: .5em 0 0;
}

h4 {
    font-weight: 600;
    font-size: 1.2em;
    margin: 0 0 .5em;
}

.col-darker {
    background-color: rgb(245, 245, 245);
}